h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    text-decoration: coral;
    color: red;

}

html, body {
    height: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 50%;
    background-color: white;
}

.container {
    display: flex;
    margin: auto;
    /* border: 1px solid red; */
}

.ball {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    margin: auto;
}

.ball--red{
    width: 300px;
    background: red;
    height: 300px;
}
.ball--white {
    width: 200px;
    background: white;
    height: 200px;
}
.ball--redInside {
    width: 100px;
    background: red;
    height: 100px;
}